$text_gray_500: #18191f;
$text_gray_400: #646778;
$text_gray_300: #a2a6bb;
$text_gray_200: #d3d7e8;
$text_gray_100: #e8ebf3;
$text_black_500: #2c3131;
$text_black_400: #626262;
$text_white: #ffffff;

$brand_red_500: #fc4f4f;
$brand_red_400: #fd867a;
$brand_blue_800: #131a46;
$brand_blue_600: #2d3768;
$brand_blue_500: #3e497a;
$brand_blue_400: #6e7baf;
$brand_blue_300: #97a5d7;
$brand_blue_200: #c2cdf1;
$brand_blue_100: #dfe6f8;

$success_500: #66d850;
$success_400: #94e77a;
$success_300: #b4f397;
$success_200: #d4fbbb;
$success_100: #ecfddd;

$info_500: #0ec0f2;
$info_400: #48ddf7;
$info_300: #6df0fb;
$info_200: #9efdfd;
$info_100: #cefefa;

$warning_500: #d6d324;
$warning_400: #e6e456;
$warning_300: #f2f179;
$warning_200: #faf9a7;
$warning_100: #fcfcd2;

$error_500: #ef6651;
$error_400: #f5957b;
$error_300: #fab396;
$error_200: #fdd3ba;
$error_100: #feebdc;
